body {
font-family: 'Roboto', sans-serif;
}

.DivLettertype {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.DivKleur {
    background-color: lightblue;
}

p {
   font-size: 20px;
}

li {
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}