body {
    background-image: url('fotos/strepen.jpg');
}

h1 {
  color: brown;
}

p {
  color: brown;
}

a {    
  color: brown;
}

a:hover {
  color:blue;
}

a:active {
  color:yellow;
}

.DivLinks {
  color: brown;
}