  body {
    background-color: lightseagreen;
  }

  h1 {
    color: red
  }

  p {
    color: black;
  }

  a {    
    color: black;
  }

  a:hover {
    color:blue
  }

  a:active {
    color:yellow
  }