body {
  background-image: url("fotos/achtergrond.webp");
}

h1 {
  color: teal;
}

p {
  color: teal;
}

a {    
  color: teal;
}

a:hover {
  color:blue;
}

a:active {
  color:yellow;
}

.DivLinks {
  color: teal;
}