body {
  background-image: url("fotos/achtergrond.jpg");
}

h1 {
  color: lightsteelblue;
}

p {
  color: lightsteelblue;
}

a {    
  color: lightsteelblue;
}

a:hover {
  color:blue;
}

a:active {
  color:yellow;
}

.DivLinks {
  color: lightsteelblue;
}