body {
  background-image: url("fotos/achtergrond.webp");
}

.DivLettertype {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

h1 {
  color: darkcyan;
}

p {
  color: darkcyan;
}

a {    
  color: darkcyan;
}

a:hover {
  color:blue;
}

a:active {
  color:yellow;
}

.DivLinks {
  color: darkcyan;
}